body {
  margin: 0;
  color: red;
  background-color: black;
}

header div{
  display: inline-block;
  text-algin: center;
  vertical-align: middle;
}

.scary{
  width:20%;
  font-size: 60px;
  transition-duration: 1s;
  }

.scary:hover{
  transform: /*rotate can turn the element (90deg) scale can make the element bigger or smallerscale(.5); Translate X or Y axis can move the element how far you want it to go*/ 
    rotate(360deg);
}

#title {
  background-color: yellow;
  width: 60%;
  font-size: 30px;
}

#title h1{
  transition-duration: 1s;
  
}

#title:hover{
  transform: scale(1.5) translateY(200px);
}

/*
h1 {
  text-align: center;
}

h1::before {
  content: "😨";
}

h1::after {
  content: " 😨";
}*/

ol {
  list-style-position: inside;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

li {
  color: white;
  padding: 40px 100px;
  margin: 3px 0;
  transition-duration: .3s;
}

li:hover{
  transform: scale(1.3) translateX(50px);
}

li:nth-child(2n+1) {
  background-color: rgba(0,0,255,.4);
}

li:nth-child(2n) {
  background-color: rgba(255,255,0,.8);
}